.header__bookmark-btn {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  border: none;
  background-color: transparent;
  padding-left: 12px;
  margin-left: 6px;
  border-left: 1px solid white;
}
