$White: white;
$Gray: gray;
$LightGray: rgb(212, 212, 212);
$ButtonHoverLightBlue: rgba(245, 245, 245, 0.247);
$ButtonHoverLightGray: rgba(212, 212, 212, 0.247);
$ButtonHoverDarkGray: rgba(31, 31, 31, 0.247);
$TestRed: red;
